#subleader1 {
  width: 50%;
}
#subleader2 {
  width: 50%;
}
#leader {
  display: flex;
  flex-direction: row;
  margin-left: 900px;
}
#subleader3 {
  margin-left: 100px;
}
#subleader4 {
  margin: 15px;
}
#subleader5 {
  width: 50%;
}
#leader2 {
  width: 50%;
  margin-left: 300px;
  margin-top: 150px;
}
#input {
  width: 85%;
  border-radius: 25px;

  height: 30px;
  padding-left: 30px;
  font-size: larger;
}
#leader3 {
  display: flex;
  flex-direction: row;
  margin-left: 450px;
  margin-right: 450px;
}
#subleader6 {
  width: 50%;
}
#button {
  width: 70%;
  height: 30px;
}
#subleader7 {
  margin: 100px;
  margin-left: 1050px;
  margin-top: 100px;
}
#button2 {
  height: 30px;
  width: 150px;
}
