#manager {
  margin: 170px;
  padding-left: 150px;
}
#submanager1 {
  padding-left: 100px;
}
#submanager2 {
  height: 30px;
  width: 100%;
}
#submanager3 {
  width: 70px;
  height: 25px;
  margin: 30px;
  margin-left: 180px;
  margin-top: 40px;
}
#submanager4 {
  width: 90px;
  margin: 30px;
  margin-left: 145px;
  padding-left: 30px;
}
#ded {
  width: 60%;
  height: 35px;
  border-radius: 25px;
  padding-left: 30px;
  margin: 25px;
}
#ded2 {
  height: 35px;
  width: 80px;
}
