#topdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}
#subdiv {
  margin-bottom: 20px;
}
#subdiv2 {
  margin-bottom: 20px;
  width: 100%;
}
#subdiv3 {
  margin-bottom: 20px;
}
#parentdiv {
  border: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
}
#subdiv4 {
  border: 5px solid green;
  margin-bottom: 20px;
}
#searchbar {
  border-radius: 25px;
  width: 100%;
  padding-left: 35px;
  padding: 10px;
}
#search {
  font-size: 25px;
  padding: 0px;
}
